{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'articles/css/add_article.css' %}">
{% endblock %}

{% block content %}
<section class="add-article">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10 form-container">
                <form class="add-article-form form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="text-center form__errors">{{form.non_field_errors}}</div>

                    <div class="row">
                    {% for item in form %}
                            <div class="col-sm-4">
                                <label class="form__label" for="{{item.id_for_label}}">{{item.label}}: </label>
                            </div>
                            <div class="col-sm-8">
                                {{item}}
                            </div>

                    <div class="form__errors">{{item.errors}}</div>

                    {% endfor %}
                    </div>

                    <button class="form__btn btn" type="submit">Опубликовать статью</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}
