{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock %}

{% block content %}
<section class="articles">
    <div class="container-fluid articles-header">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row justify-content-between articles-navbar">
                        <ul class="col-md-7 col-lg-10 col-xl-9 d-flex align-items-center justify-content-between categories">
                            {% for category in categories %}
                                {% if category.pk == selected_cat %}
                                <li class="categories__item">
                                    <span>{{category.name}}</span>
                                </li>
                                {% else %}
                                <li class="categories__item">
                                    <a href="{{category.get_absolute_url}}">{{category.name}}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                        <div class="col-md-4 col-lg-2 articles-funcs">
                            <a href="{% url 'add_article' %}">
                                <div class="articles-funcs_button button">Написать статью <i class="bi bi-pencil"></i></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for article in articles %}
            <div class="col-sm-10 article-container">
                <ul class="d-flex justify-content-between article-inform">
                    <li class="article-inform__author">{{article.username}}</li>
                    <li class="article-inform__time">{{article.update_time|date:"d-m-Y H:i"}}</li>
                </ul>

                <a href="{{article.get_absolute_url}}">
                    <h2 class="article-container__title">{{article.title}}</h2>
                </a>

                {% if article.cover_image %}
                <img class="article-container__image" src="{{article.cover_image.url}}" alt="изображение статьи">
                {% endif %}

                {% autoescape on %}
                <p class="article-container__content">{{article.content|safe|linebreaks|truncatewords:50}}</p>
                {% endautoescape %}

                <a class="article-container__button button" href="{{article.get_absolute_url}}">Читать дальше</a>

                <ul class="d-flex article-statistic">
                    <li class="article-statistic__item"><i class="bi bi-eye"></i> {{article.views_count}}</li>
                    <li class="article-statistic__item"><i class="bi bi-chat-left"></i> {{article.comments_count}}</li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}