{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock %}

{% block content %}
<section class="articles">
    <div class="container-fluid articles-header">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <ul class="d-flex justify-content-between articles-navbar">
                        <li class="articles-navbar__item"></li>
                        <li class="articles-navbar__item">
                            <a href="{% url 'add_article' %}">
                                <div class="btn">Написать статью <i class="bi bi-pencil"></i></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        {% for article in articles %}
                <div class="col-sm-10 articles-container">
                    <ul class="d-flex justify-content-between">
                        <li class="articles-container__author">{{article.username}}</li>
                        <li class="articles-container__time">{{article.update_time|date:"d-m-Y H:i"}}</li>
                    </ul>

                    <h2 class="articles-container__title">{{article.title}}</h2>

                    {% if article.cover_image %}
                    <img class="articles-container__image" src="{{article.cover_image.url}}" alt="изображение статьи">
                    {% endif %}

                    {% autoescape on %}
                    <p class="articles-container__content">{{article.content|linebreaks|truncatewords:50}}</p>
                    {% endautoescape %}

                    <a class="articles-container__btn btn" href="{{article.get_absolute_url}}">Читать дальше</a>

                    <ul class="d-flex articles-statistic">
                        <li class="articles-statistic__item"><i class="bi bi-eye"></i> {{article.views_count}}</li>
                        <li class="articles-statistic__item"><i class="bi bi-chat-left"></i> {{article.comments_count}}</li>
                    </ul>
                </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}