{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/items_list.css' %}">
<link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">
{% endblock %}

{% block content %}
<section class="projects content">
    <div class="container-fluid articles-header">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <nav class="row justify-content-between articles-navbar">
                        <ul class="col-md-7 col-lg-10 col-xl-9 d-flex align-items-center justify-content-between categories">
                            {% for category in categories %}
                            {% if category.pk == selected_cat %}
                            <li class="categories__item">
                                <span>{{category.name}}</span>
                            </li>
                            {% else %}
                            <li class="categories__item">
                                <a href="{% url 'category_projects' category.slug %}">{{category.name}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>

                        <div class="col-md-4 col-lg-2 ms-auto project-options">
                            <a href="{% url 'add_project' %}">
                                <div class="project-options__button button">Добавить проект <i class="bi bi-plus-circle"></i></div>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-10">
                {% if selected_tag %}
                <div class="col-12 section-description">
                    <p class="section-description__name">{{tag.name}}</p>
                    <p class="section-description__description">{{tag.description}}</p>
                </div>
                {% elif selected_cat %}
                <div class="col-12 section-description">
                    <p class="section-description__name">{{category.name}}</p>
                    <p class="section-description__description">{{category.description}}</p>
                </div>
                {% endif %}

                {% for project in projects %}
                <div class="col-12 project-container">
                    <ul class="d-flex justify-content-between project-info">
                        <li class="project-info__author">
                            <img class="project-info__author-avatar user-avatar" src="{{project.author.userprofile.profile_picture.url}}" alt="Аватарка">
                            <a href="{{project.author.userprofile.get_absolute_url}}">{{project.author}}</a>
                        </li>
                        <li class="project-info__time">{{project.create_time|date:"d-m-Y H:i"}}</li>
                    </ul>

                    <a href="{{project.get_absolute_url}}">
                        <p class="project-container__title">{{project.name}}</p>
                    </a>

                    {% autoescape on %}
                    <p class="project-container__description">{{project.description|safe|linebreaks|truncatewords:50}}</p>
                    {% endautoescape %}
                </div>
                {% endfor %}
            </div>

            <div class="col-lg-2">
                <aside class="tags-sidebar sidebar">
                    <p class=""><strong>Теги:</strong></p>

                    <ul class="sidebar-list">
                        {% for tag in tags %}
                        {% if tag.pk == selected_tag %}
                        <li class="sidebar-list__item">
                            <span class="selected-tag">{{tag.name}}</span>
                        </li>
                        {% else %}
                        <li class="sidebar-list__item">
                            <a href="{% url 'tag_projects' tag.slug %}">{{tag.name}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</section>
{% endblock %}