.profile {
    padding: 20px 0;
}

.profile-info {
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto 0;
    padding: 20px;
}

.profile-info__picture {
    border-radius: 4px;
    height: 75px;
    width: 75px;
}

.profile-info-user__username {
    font-size: 36px;
    font-weight: 500;
    margin-left: 16px;
}

.profile-info-user__name {
    font-size: 19px;
    font-weight: 500;
    margin-top: -22px;
    margin-left: 16px;
}

.profile-info__xp {
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 0;
}

.user-categories-nav {
    background-color: #fff;
    border-radius: 20px;
    margin: 25px auto 0;
    padding: 20px;
}

.user-categories-list__item {
    font-size: 18px;
    font-weight: 500;
    padding-right: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.user-categories-list__item:hover {
    font-size: 19px;
}