.user-settings {
    padding-top: 25px;
}

.settings {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}

.sidebar-list__item, .sidebar-list__item a {
    color: #0C1A22;
    font-weight: 500;
}

.sidebar-list__item {
    padding-bottom: 5px;
}

.sidebar-list__item:last-child {
    padding-bottom: 0;
}

.settings-form__button {
    display: block;
    margin: 10px auto 0;
}