{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'notifications/css/notifications.css' %}">
{% endblock %}

{% block content %}
<section class="notifications content">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10">
                <div class="col-12">
                    {% for notice in notifications %}
                    <div class="notice">
                        <p>{{notice.text}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}