/* Спецификация */

body {
    color: #0C1A22;
    background-color: #f0f0f0;
    font-family: 'Inter', sans-serif;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.user-avatar {
    border-radius: 4px;
    height: 24px;
    width: 24px;
}

.button {
    display: inline-block;
    color: #0C1A22;
    font-weight: 500;
    text-align: center;
    border: 5px solid #e3e6ea;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.button:hover {
    background-position: 0;
}

a.button {
    color: #0C1A22;
}

.sidebar {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}

/* Навбар */

.header {
    background-color: #fbbe3a;
    position: sticky;
    top: 0;
    z-index: 10;
}

.menu__title {
    color: #0C1A22;
    font-weight: 800;
    margin: 0;
}

.menu__btn {
    background-color: #fbbe3a;
    border: 4px solid #0C1A22;
    border-radius: 20px;
    transition: 0.5s;
}

.menu__btn:hover, .menu__btn:active {
    background-color: #f7c547;
}

.menu__link, .menu__link_icon {
    color: #0C1A22;
    font-size: 20px;
    font-weight: 800;
    transition: 0.5s;
}

.menu__link:hover {
    color: white !important;
}

.user-profile__btn {
    background-color: #fbbe3a;
    font-weight: 500;
    border: none;
    border-radius: 0;
    padding: 6px;
    transition: 0.5s;
}

.user-profile__btn:hover, .profile__btn:focus {
    border-color: #e3e6ea;
}

.user-profile__link {
    font-weight: 500;
}

/* Контент */

.content {
    min-height: 82.63vh;
}

/* Футер */

.footer {
    background-color: #313030;
}

.info {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

.soc-nets {
    margin-top: 16px;
}

.soc-nets__link {
    color: #fff;
    font-size: 34px;
    text-decoration: none;
    transition: 0.5s;
}

.soc-nets__link:hover {
    color: #fff;
    font-size: 36px;
}